* {
  margin: 0px;
  padding: 0px; }

header, footer {
  color: beige;
  background-color: goldenrod;
  padding: 50px; }

.logo {
  width: 200px; }

main {
  background-color: brown;
  color: cornsilk;
  padding: 50px; }

main {
  font-family: 'Poppins', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Square Peg', cursive; 
}

ul {
  list-style: none; }
  ul li {
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-size: 25px; }
    ul li:hover {
      color: red;
      font-weight: bold;
      text-decoration: double; }
