*{
    margin: 0px;
    padding: 0px;
}

header, footer{
    color: beige;
    background-color: goldenrod;
    padding: 50px;
    text-align: center;
}

.logo{
    width: 500px;
}

main{
    background-color: brown;
    color: cornsilk;
    padding: 50px;
}