@import "estructura"; 
@import "colores";
@import "tipografia";

ul{
    list-style: none;
    li{
        display: inline-block;
        text-align: center;
        padding: 15px;
        font-size: $tamaño_fuente_menu;
       &:hover{
           color: red;
           font-weight: bold;
           text-decoration: double;
       }
    }
}